body {
    background-image: url('media/choose.jpg');
    background-size: 100% 100%;
    margin: 0px;
}
#header{
    margin: auto;
    width: 50%;
    padding: 10px;
    text-align: center;
    color: white;
}
.options{
    margin-left: 13%;
    margin-top: 30%;
    margin-right: 13%;
}
#opt1{
    text-align: left;
    margin-right: 20px;
    float:left;
}
#opt2{
    text-align: right;
    float:right;
}
button {
    display: inline-block;
    border: none;
    padding: 1rem 2rem;
    margin: 0;
    text-decoration: none;
    background: #0E0E0E;
    color: white;
    font-family: sans-serif;
    font-size: 1rem;
    cursor: pointer;
    text-align: center;
    transition: background 250ms ease-in-out, 
                transform 150ms ease;
    -webkit-appearance: none;
    -moz-appearance: none;
}
button:hover,
button:focus {
    background: #3A3636;
}
button:focus {
    outline: 1px solid #fff;
    outline-offset: -4px;
}
button:active {
    transform: scale(0.99);
}